@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    .bg-w {
      background-color: var(--bg-primary);
    }

    .bg-secondary {
      background-color: var(--bg-secondary);
    }

    .bg-button {
      @apply hover:bg-neutral-200 dark:hover:bg-neutral-600 active:bg-neutral-300 dark:active:bg-neutral-500;
      transition: all 0.2s ease;
    }

    .bg-hover {
      @apply hover:bg-neutral-200 dark:hover:bg-neutral-600;
      transition: all 0.2s ease;
    }

    .shadow-light {
      @apply shadow-neutral-200/30 dark:shadow-black/10;
    }

    .shadow-deep {
      @apply shadow-neutral-200/70 dark:shadow-black/30;
    }

    .t-primary {
      color: var(--text-primary);
    }

    .t-secondary {
      color: var(--text-secondary);
    }
  
    .wauto {
      @apply w-full md:w-11/12 lg:w-10/12 xl:w-8/12 2xl:w-6/12 duration-300;
    }
  
    .writeauto {
      @apply w-full md:w-7/12 lg:w-8/12 duration-300;
    }
  }